.blogContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blogList {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.blogItem {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 25%;
}

.topBar{display:flex;justify-content:flex-end}
.spinner{margin:40px auto}